{% extends "base.html" %} {% block title %}Hotel California{% endblock %} {% block content%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
      />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.7.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    
    <body>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                  <br>
                    <h2 class="display-4">Services</h2>
                    <h2 class="lead">Hotel California provides a wide range of service for all our valued guest</h2>
                  </div>


                    <div class="container"></div>
                  </div>
                  </section>
        <br>
        <hr>
        <!-- Services-->
        <section class="section-page" id="services">
          <div class="container">
            <div class="text-center">
              <h3 class="display-4"> Services we offer</h3>
              <h3 class="lead">
                At Hotel California we offer a range of services including gym, swimming pool,
                restaurant, meeting rooms, spa, poolside bars, WiFi and room service.
              </h3>
            </div>
              <br>
              <div class="card-deck">
                <div class="card" style="width: 25rem;">
                  <div class="card-body border border-warning rounded">
                    <h5 class="display-4 card-title">Gym</h5>
                    <img src="static/gym.jpg" class="rounded float-center" width="300" height="200">
                    <p class="lead">You can keep in shape with our gym facilities. Come join us....</p>
                      <p class="lead display-4">€10 per day</p>
                  </div>
                </div>
                <br>

                <br>
                <div class="card" style="width: 25rem;">
                  <div class="card-body border border-warning rounded">
                    <h5 class="display-4 card-title">Pool</h5>
                    <img src="static/swimpool.jpg" class="rounded float-center" width="300" height="200">
                    <p class="lead">You can enjoy Swimming in the pool and relax with a drink....</p>
                      <p class="lead display-4">€5 per day</p>
                  </div>
                </div>
                <br>

                <br>
                <div class="card" style="width: 25rem;">
                  <div class="card-body border border-warning rounded">
                    <h5 class="display-4 card-title">Bistro</h5>
                    <img src="static/restaurant.jpg" class="rounded float-center" width="300" height="200">
                    <p class="lead">You can order delicious food or have a drink all at one place....</p>
                      <p class="lead display-4">€20 per person</p>
                  </div>
                </div>
              </div>
                <br>
            </section>
            <br>
            <section>
                <div class="card-deck">
                <div class="card" style="width: 25rem;">
                  <div class="card-body border border-warning rounded">
                    <h5 class="display-4 card-title">Meeting Room</h5>
                    <img src="static/meetingroom2.jpg" class="rounded float-center" width="300" height="200">
                    <p class="lead">Here You can do your business and relax, all at one go....</p>
                      <p class="lead display-4">€50 per day</p>
                  </div>
                </div>
                <br>

                <br>
                <div class="card" style="width: 25rem;">
                  <div class="card-body border border-warning rounded">
                    <h5 class="display-4 card-title">Luxury Spa</h5>
                    <img src="static/spa.jpg" class="rounded float-center" width="300" height="200">
                    <p class="lead">Here you can fully relax in our state-of-the-art spa....</p>
                      <p class="lead display-4">€20 per day</p>
                  </div>
                </div>
                <br>

                <br>
                <div class="card" style="width: 25rem;">
                  <div class="card-body border border-warning rounded">
                    <h5 class="display-4 card-title">Poolside Bar</h5>
                    <img src="static/poolbar.jpg" class="rounded float-center" width="300" height="200">
                    <p class="lead">To chill out, have a drink and have fun....</p>
                      <p class="lead display-4">€10 per night</p>
                  </div>
                </div>
              </div>
            </section>
                <br>



<!--- services
      <hr>
      <div class="services">
        <div class="service-content">
          <h3>Our Hotel Services</h3>
          <ul>
            <li><span>1.</span></li>
            <li><p><a href="#">GYM</a> You can keep in shape with our gym facilities. Come join us....</p></li>
            <div class="clear"> </div>
            <img src="static/gym.jpg" class="w-100 shadow-1-strong rounded mb-4" alt=""
    />
          </ul>
          <ul>
            <li><span>2.</span></li>
            <li><p><a href="#">SWIMMING POOL</a> You can enjoy Swimming in the pool and relax with a drink. . .. . .  </p></li>
            <div class="clear"> </div>
            <img src="static/swimpool.jpg" class="w-100 shadow-1-strong rounded mb-4" alt=""
    />
          </ul>
          <ul>
            <li><span>3.</span></li>
            <li><p><a href="#">RESTAURANT</a> You can order delicious food or have a drink all at one place.... </p></li>
            <div class="clear"> </div>
            <img src="static/restaurant.jpg" class="w-100 shadow-1-strong rounded mb-5" alt=""
    />
          </ul>
          <ul>
            <li><span>4.</span></li>
            <li><p><a href="#">MEETING ROOM</a> Here You can do your business and relax, all at one go. . . .</p></li>
            <div class="clear"> </div>
            <img src="static/meetingroom2.jpg" class="w-100 shadow-1-strong rounded mb-4" alt=""
    />
          </ul>
          <ul>
            <li><span>5.</span></li>
            <li><p><a href="#">SPA</a> Here you can fully relax in our state-of-the-art spa. . . .</p></li>
            <div class="clear"> </div>
            <img src="static/spa.jpg" class="w-100 shadow-1-strong rounded mb-4" alt=""
    />
          </ul>
          <ul>
            <li><span>6.</span></li>
            <li><p><a href="#">POOLSIDE BAR</a> o chill out, have a drink and have fun. . .. . </p></li>
            <div class="clear"> </div> <div> </div>
            <img src="static/poolbar.jpg" class="w-100 shadow-1-strong rounded mb-4" alt=""
    />
          </ul>
        </div>
         Services -->
    </body>
</html>
    {% endblock %}

    